{% block main %}
<!-- About  -->
<section id="about" class="container-fluid">
  <div class="container-fluid">
    <h1 id="about-header" class="text-center">About Me</h1>
    <div class="container d-flex flex-md-row flex-column">
      <div
        class="
          image-container
          img-fluid
          d-md-flex d-none
          justify-content-center
        "
      >
        <img src={{url_for("static", filename="/images/vaylon-fernandes.png")}}
        class="rounded-circle shadow w-100 h-100" alt="Vaylon Fernandes"
        draggable="false" />
      </div>

      <div
        class="
          image-container
          w-100
          h-75
          d-md-none d-flex
          justify-content-center
          align-items-center
        "
      >
        <img src={{url_for("static", filename="/images/vaylon-fernandes.png")}}
        class="rounded-circle w-50 h-100" alt="Vaylon Fernandes" />
      </div>

      <div
        class="
          d-flex
          align-items-center
          justify-content-center
          ps-4
          flex-column
        "
      >
        <p id="about-text" class="text-center fs-4">
          I am a Electonics and Telecomunication engineering graduate pursuing
          my passion and for programming 👨‍💻. Right now I am exploring the world
          of web development 💻. Currently I am working on
          <a
            href="https://flask.palletsprojects.com/en/2.0.x/"
            class="fw-bold"
            target="_blank"
            >Flask
          </a>
          based projects.
        </p>

        <a href="{{url_for("views.get_resume")}}" target="_blank" class="btn btn-sm btn-outline-dark"
          >My Resume</a
        >
      </div>
    </div>
  </div>
</section>
{% endblock main %}
