{% block main %}
<!-- TODO -- Turn certificate links into modal images  -->
<section id="achievements">
  <div class="container-fluid">
    <h1 class="text-center">Achievements and Certifications</h1>
    <h2>Achievements</h2>
    <ul>
      <li>
        Co-author: Air Pollution Prediction using Machine Learning
        <a
          href="https://ieeexplore.ieee.org/document/9332184"
          class="text-decoration-none"
          >[IEEEXPLORE]</a
        >
      </li>
      <li>
        Hackerrank Python Gold Level Badge
        <a
          href="https://www.hackerrank.com/vaylonfernandes"
          class="text-decoration-none"
          >[Tap To view]</a
        >
      </li>
      <li>
        Hackerrank Problem Solving Bronze Level Badge
        <a
          href="https://www.hackerrank.com/vaylonfernandes"
          class="text-decoration-none"
          >[Tap To view]</a
        >
      </li>
    </ul>
    <h2>Certifications</h2>
    <ul>
      <li>
        Hacckerank Python Basic Certificate
        <a
          href="https://www.hackerrank.com/certificates/8934a4347127"
          class="text-decoration-none"
          >[Tap to view]</a
        >
      </li>

      <li>
        Certificate of Completion: The Complete Python Bootcamp - Go from zero
        to hero in python.
        <a
          href="https://www.udemy.com/certificate/UC-e5352aa7-bcc0-462e-b7e4-e7082ae067b2/"
          class="text-decoration-none"
          >[Udemy]</a
        >
      </li>
      <li>
        Certificate of Completion: Build your First Website in one week with
        HTML and CSS3
        <a
          href="https://www.udemy.com/certificate/UC-e159d7ab-8106-442f-93e2-669141276797/"
          class="text-decoration-none"
          >[Udemy]</a
        >
      </li>
      <li>
        Participation Certificate : Kshitij 2016, Don Bosco Project Expo.
        <!-- TODO: Add Certificate-->
        <!-- <a href=""></a> -->
      </li>
      <li>
        Participation Certificate : Kshitij 2017, Don Bosco Project Expo.
        <!-- TODO: Add Certificate-->
        <!-- <a href=""></a> -->
      </li>
      <li>
        Participation Certificate : B.S.S (Bose-Shannon-Shockley) Technical
        Paper presentation.
        <!-- TODO: Add Certificate-->
        <!-- <a href=""></a> -->
      </li>
    </ul>
  </div>
</section>
{% endblock main %}
