{% block main %}
<section id="contact">
  <div class="container-fluid text-center">
    <h1>
      Contact Me
      <img
        src="https://twemoji.maxcdn.com/v/latest/72x72/260e.png"
        alt="Telephone"
        draggable="false"
        id="telephone"
      />
    </h1>
    <p class="fs-4">
      Looking to hire? Want to discuss a project or just chat? My inbox is open
      for all.
    </p>

    <a
      href="mailto:vaylonfernandes@protonmail.com"
      class="text-decoration-none"
      id="mail-to"
      >vaylonfernandes@protonmail.com</a
    >
    <div class="socials">
      <!-- mail  -->
      <a
        href="mailto:vaylonfernandes@protonmail.com"
        target="_blank"
        rel="noopener"
        class="mail icon-button"
      >
        <i draggable="false" class="fas fa-envelope"> </i>
      </a>

      <!-- linkedin  -->
      <a
        href="https://www.linkedin.com/in/vaylon-fernandes/"
        target="_blank"
        rel="noopener"
        class="linkedin icon-button"
      >
        <i draggable="false" class="fab fa-linkedin"> </i>
      </a>

      <!-- Github -->
      <a
        href="https://github.com/vaylon-fernandes/"
        target="_blank"
        rel="noopener"
        class="github icon-button"
      >
        <i draggable="false" class="fab fa-github"></i>
      </a>

      <!-- stack-overflow  -->
      <a
        href="https://stackoverflow.com/users/15018032/vaylon-fernandes"
        target="_blank"
        rel="noopener"
        class="stack-overflow icon-button"
      >
        <i draggable="false" class="fab fa-stack-overflow"></i>
      </a>
      <!-- instagram  -->
      <a
        href="https://www.instagram.com/vf_09_/"
        target="_blank"
        rel="noopener"
        class="instagram icon-button d-none"
      >
        <i draggable="false" class="fab fa-instagram"></i>
      </a>

      <!-- twitter  -->
      <a
        href="https://twitter.com/Vaylon3"
        target="_blank"
        rel="noopener"
        class="twitter icon-button d-none"
      >
        <i draggable="false" class="fab fa-twitter"></i>
      </a>
    </div>
  </div>
</section>
{% endblock main %}
