{% block main %}
<div class="wrapper">
  <section
    class="d-flex justify-content-center align-items-center flex-column"
    id="home"
  >
    <p class="display-3 monospace font-monospace">
      Hi There!
      <span class="wave"
        ><img
          src="https://twemoji.maxcdn.com/v/latest/72x72/1f44b.png"
          alt="Animated waving hand"
          draggable="false"
        />
      </span>
      <br />
      I'm Vaylon
    </p>
    <p class="text-muted">Flask Developer in the making!</p>
    <a class="btn btn-outline-dark me-5" href="#about"> About Me </a>
  </section>
</div>
{% endblock main %}
