{% block body %}

<nav
  class="navbar fixed-top navbar-expand-lg navbar-light py-md-3"
  id="navWrapper"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Vaylon Fernandes</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNav"
      aria-controls="mainNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto d-flex justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a href="#achievements" class="nav-link active">Achievements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#work">My Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#blog">Blog</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock body %}
