{% block main %}
<section id="skills">
  <div class="container-fluid text-center mb-5">
    <h1 class="skills-header">Skills</h1>
    <!-- python logo -->
    <img class="skill-image" src={{url_for("static",
    filename="images/python-Icon.svg")}} draggable="false" alt="Python Logo">
    <!--html5 logo-->
    <img class="skill-image" src={{url_for("static",
    filename="images/html5-Icon.svg")}} draggable="false" alt="HTML5 Logo">
    <!-- Css3 logo -->
    <img class="skill-image" src={{url_for("static",
    filename="images/css3-Icon.svg")}} draggable="false" alt="CSS3 Logo">
    <!-- Javascript Logo -->
    <img class="skill-image" src={{url_for("static",
    filename="images/javascript-Icon.svg")}} draggable="false" alt="Javascript
    Logo">
  </div>
  <div class="tools container-fluid text-center mt-5">
    <h1 class="tools-header">Tools</h1>
    <!-- git logo  -->
    <img class="skill-image" src={{url_for("static",
    filename="images/git-Icon.svg")}} draggable="false" alt="Git Logo">
    <!-- github logo -->
    <img class="skill-image" src={{url_for("static",
    filename="images/github-Icon.svg")}} draggable="false" alt="github Logo">
    <!-- vscode logo  -->
    <img class="skill-image" src={{url_for("static",
    filename="images/vscode-Icon.svg")}} draggable="false" alt="vscode Logo">
  </div>
</section>

{% endblock main %}
