<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href={{url_for("static",
    filename='css/styles.css')}}>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Trocchi&display=swap"
      rel="stylesheet"
    />

    <!-- favicon  -->
    <link rel="apple-touch-icon" sizes="180x180"
    href={{url_for("static",filename="favicon/apple-touch-icon.png")}}>

    <!--  -->
    <link rel="icon" type="image/png" sizes="32x32"
    href={{url_for("static",filename="favicon/favicon-32x32.png")}}>
    <!--  -->
    <link rel="icon" type="image/png" sizes="16x16"
    href={{url_for("static",filename="favicon/favicon-16x16.png")}}>
    <!--  -->
    <link rel="manifest"
    href={{url_for("static",filename="favicon/site.webmanifest")}} />
    <script
      src="https://kit.fontawesome.com/18ebc54422.js"
      crossorigin="anonymous"
    ></script>

    <title>Vaylon Fernandes Portflio</title>
  </head>
  <body>
    {% block body %}{% endblock body %}
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
