{% extends "base.html" %} {% block body %}
<!-- navbar  -->
{% include "_navbar.html" %}

<main class="container-fluid" id="main">
  {% block main %}
  <!-- home  -->
  {% include "_home_section.html" %}
  <!-- about  -->
  {% include "_about_section.html" %}
  <!-- skills -->
  {% include "_skills_section.html" %}
  <!-- work  -->
  {% include "_work_section.html" %}
  <!-- Achievements And Certifications-->
  {% include "_achievements.html" %}
  <!-- blog  -->
  {% include "_blog.html" %}
  <!-- contact  -->
  {% include "_contact.html" %} {% endblock main %}
</main>
{% include "_footer.html" %} {% endblock body %}
